/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"); */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: #f5f5f5;
  color: #4e4e4e;
  font: 18px/27px "Arial", sans-serif;
  text-align: center;
}

.beka {
  font-size: 50px;
  background-color: #4bc0c8;
}
h6 {
  color: #1e1e1e;
}

/*header+nav*/

header {
  background-color: #383232;
  color: #fff;
  padding: 15px;
  text-align: left;
  position: sticky;
  height: auto;
}

nav {
  background-color: #404040;
  color: #fff;
}
/* 
nav ul {
  list-style-type: none;
  margin: 0%;
  padding: 0;
}

nav li a {
  text-decoration: none;
  color: #fff;
}

nav li:hover {
  background-color: transparent;
} */

/* nav li {
  display: inline-block;
  padding: 15px;
} */

nav#slide-menu {
  position: fixed;
  top: 0;
  left: -100px;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 284px;
  height: 100%;
  transition: all 300ms;
}

nav#slide-menu > ul {
  display: block;
  margin: 40px;
  padding: 0;
  list-style: none;
  opacity: 0.5;
  transition: all 300ms;
}

nav#slide-menu > ul li {
  color: #dfe5eb;
  padding: 6px 0;
  cursor: pointer;
}

nav#slide-menu > ul li:hover {
  color: #59e9df;
}

nav#slide-menu > ul li:before {
  font-family: "ico";
  font-style: normal;
  font-weight: normal;
  speak-as: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  color: #59e9df;
  margin-right: 12px;
  text-align: center;
  font-variant: normal;
  font-size: 0.75em;
  text-transform: none;
  line-height: 1em;
}

nav#slide-menu > ul li.sep {
  margin-top: 7px;
  padding-top: 14px;
  border-top: 1px solid #6b7b8d;
}

body.menu-active nav#slide-menu {
  left: 0px;
}

body.menu-active nav#slide-menu ul {
  left: 0px;
  opacity: 1;
}

/*button*/

button {
  background-color: transparent;
  border: 3px ridge #149cea;
  border-radius: 0.3em;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;
  width: 10em;
  position: relative;
  height: 3.5em;
  transition: 1s;
  font-size: 16px;
  font-weight: bold;
}

/* .button2 {
  background-color: transparent;
}

.button3 {
  background-color: transparent;
}

.button4 {
  background-color: transparent;
}

.button5 {
  background-color: transparent;
} */

/* button::after {
  content: "";
  position: absolute;
  top: -8.5px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #404040;
  transition: 0.5s;
  transform-origin: center;
}

button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 70.9%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #404040;
  transition: 0.5s;
}

button:hover::before,
button:hover::after {
  transform: scale(0);
} */

/* button:hover {
  box-shadow: inset 0px 0px 25px #1479ea;
} */

/*immagine*/

.background-image {
  position: relative;
  height: 650px; /* Altezza desiderata del contenitore */
  text-align: center;
  color: white; /* Colore del testo */
  /* background-image: url(./valensiya-800x800.jpg); */
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./a4609d604f639766c178c7d27920be5d.jpg);
  background-size: cover;
  background-position: center;
  filter: brightness(50%); /* Imposta la luminosità dell'immagine al 50% */
}

body {
  width: 100%;
  margin: 0;
}

body {
  color: #001c35;
  background-color: #e3eafc;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 50px;
  font-style: italic;
  margin-bottom: 3rem;
}

h2 {
  font-size: 20px;
  margin: 0;
}

p {
  font-size: 14px;
  margin: 0.5rem 0;
}

section {
  width: 100%;
  max-width: 800px;
  padding: 4rem 1rem;
  margin: 0 auto;
}

section img {
  width: 100%;
  max-width: 520px;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
  margin: 1rem 0;
  display: block;
  border-radius: 8px;
  transform-origin: center;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
@media screen and (max-width: 580px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

@keyframes scaleProgress {
  from {
    transform: scalex(0);
  }
  to {
    transform: scalex(100%);
  }
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  width: 100%;
  height: 1rem;
  z-index: 1;
  /* background: #feac5e; */
  /* background: -webkit-linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  background: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e); */
  transform-origin: 0 50%;
  /* scroll animation*/
  animation: scaleProgress auto linear;
  animation-timeline: scroll(root);
}

/* @keyframes fade-in {
  from {
    opacity: 0.3;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
} */
.card {
  width: 100%;
  max-width: 520px;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: fade-in linear both;
  /* view function */
  animation-timeline: view();
  animation-range: entry 10% entry 80%;
}
